.boton{
    background-color: #f06c15;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 55px;
    margin-right: 20px;
    font-size: large;
    border: 3px solid #020202;
    border-radius: 25px;
    text-align: center;
}



.texto-centrado {
    text-align: center;
}


.imagen-y-texto {
    display: flex;
    align-items: center;
}

.imagen-y-texto img {
    width: 150px;
    height: auto; 
}

.elemento-redondeado {
    width: 1345px;
    height: 350px;
    background-color: #f06c15;
    border-radius: 25px;
}

.otro-elemento-redondeado {
    width: 1345px;
    height: 300px;
    background-color: #f06c15;
    border-radius: 25px;
}
.uno-mas{
    width: 1345px;
    height: 775px;
    background-color: #f06c15;
    border-radius: 25px;
}

#barra{
    display: flex;
}

.contenedor {
    padding-left: 23px;
}

/*colores:
naranja: #dd8044
naranja un poco más fuerte: #f06c15
gris: #C0B9B8
negro:#020202
*/
